{% extends "layout/base.html" %} {% block main %}

<div class="container">
  <header class="text-center">
    <h3 class="h3 pt-4">{{heading}}</h3>
  </header>
  <hr class="my-2" />
  <div class="container p-5">
    <form method="post">
      {% csrf_token %}
      <p class="fs-4 py-3" style="min-height: 50vh">
        Are you sure you want to delete instance "{{ object }}"?
      </p>
      {{form}}
      <hr class="my-4" />
      <div class="d-flex py-2">
        <a
          class="btn btn-outline-secondary rounded-pill me-auto"
          href="{% url 'ECDeploy:detail' object.pk %}"
        >
          Back
        </a>
        <button class="btn btn-outline-danger rounded-pill mx-2" type="submit">
          Terminate
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
