{% extends "layout/base.html" %} {% block main %}

<div class="container">
  <header class="text-center">
    <h3 class="h3 pt-4">{{heading}}</h3>
  </header>
  <hr class="my-2" />
  <div class="row p-4">
    <div class="col-12 font-monospace fs-4">
      {% if messages %} {% for message in messages %} 
      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <p>{{ message }}</p>
      {% endif %} {% endfor %} {% endif %}
      <p>Back to <a href="{% url 'ECDeploy:list' %}"> Instance List</a></p>
    </div>
  </div>
</div>
{% endblock %}
