<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom border-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Argus Watcher</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Project
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'ECDeploy:list' %}">
                Django Easy Deploy
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://www.canva.com/design/DAFw0ioeJb0/GO9nyKOWYBuVMNn7SS4nkQ/view?utm_content=DAFw0ioeJb0&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink"
            >About Us
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
